.nav {
  margin-top: 30px;
  text-align: left;
  
  ul li {
    a {
      text-decoration: none;
      color: #000;
      font-weight: 400;

      &.active {
        font-weight: 600;
      }
    }

    list-style-type: none;
    display: inline-block;
    margin-left: 20px;
  }
}